/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* -= require main
* -= require mobile
*= require bootstrap
*= require_self
*/
body, html{
  height: 100%;
}

body {
  &.main{
    padding-top: 70px;
  }
  &.fullpage {
    padding-top: 50px;
  }
}


#myCarousel {
  height: 100%;
  .carousel-inner {
    height: 100%;
  }
  .item {
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    padding: 10px;
  }
}

.marketing {
  text-align: center;
}

hr {
  border-bottom: solid 1px #afafaf;
  margin: 5px 0;
}

.row {
  max-width: 100%;
}

.blocktext{
  text-align: justify;
}

.schnack{
  padding-top: 30px;
}

footer{
  padding-top: 30px;
}